<% provide(:title, 'About') %>
    <h1>About Us</h1>
    <p>
      The <a href="https://acf.ku.edu/">ACF Community Cluster</a> is a
      research community funded High Performance Computing cluster sponsored by the
      <a href="http://www.ku.edu">University of Kansas</a>,
      <a href="http://research.ku.edu/Kansas_Center_For_Research">Center for Research</a>.
    </p>
