<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact Cluster Help for the ACF Community Cluster about the Samich Application
  <a href="mailto:clusterhelp@acf.ku.edu">mailto:clusterhelp@acf.ku.edu</a>.
</p>
