<% provide(:title, 'Help') %>
    <h1>Help</h1>
    <p>
      Get help using the KU ACF Community Cluster at the
      <a href="https://acf.ku.edu/wiki/">ACF Community Cluster wiki</a>.<br>
      To get help on the Samich Application, see the
      <a href="https://acf.ku.edu/wiki/index.php/Samich">ACF Wiki Samich Application</a> Help Page.
    </p>

    
