<div class="center hero-unit">
  <h1>Welcome to the ACF</h1>
  <h1>Community Cluster </h1>
  <br />
  <h2>
    This is the home page for <%= link_to "Samich", root_path %> <br>
  </h2>
  <h3>
    The Torque / Maui GUI Application and all around Cluster access portal.
  </h3>
  <h4>
    <%= link_to "Samich", root_path %> is <b>A</b>nother <b>M</b>ulti-use <b>I</b>nterface for <b>C</b>luster <b>H</b>elp.
  </h4>

  <%= link_to "Cluster Sign Up!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("samich_logo_large.png", alt: "Samich"), root_path %>
