<footer class="footer">
  <small>
    <%= link_to "Samich", root_path %>
    (<b>S</b>amich is <b>A</b>nother <b>M</b>ulti-use <b>I</b>nterface for <b>C</b>luster <b>H</b>elp)
    by Paul Calnon
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://acf.ku.edu/">ACF</a></li>
      <li><a href="http://ganglia.acf.ku.edu/">Status</a></li>
      <li><a href="https://acf.ku.edu/wiki/index.php/Main_Page">Wiki</a></li>
      <li><a href="http://ittc.ku.edu/cluster/acf_cluster_hardware.html">Hardware</a></li>
      <li><a href="http://www.ku.edu/">KU</a></li>
    </ul>
  </nav>
</footer>
